body {
    background-color: #eeeeee;
}

.grid {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 10px 15px 5px black;
}

.grid h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: black;
    font-size: 55px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0 -0.5px black;
}

#score {
    color: black;
    text-align: center;
    font-size: 36px;
}

.grid #question {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 36px;
    color: black;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0 -0.5px black;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: black;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;

    background: linear-gradient(135deg, #00b09b, black, #96c93d);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
}

    @keyframes BackgroundGradient {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
}


#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: black;
    font-size: 20px;
}

#showScores {
    color: black
    font-size 36px;
}