body {
    background-color: black;
}

#spelbord {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    background: url("10-x-10-Line-Grid-500x500.jpg") no-repeat;
}

.locked {
    background: url("src="https://imgur.com/n6A3wqE.png" width="40" height="40"") no-repeat center center;
}