{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}

<h1>
    About Us
    </h1>
<br>
<img src="https://i.imgur.com/pVdohwz.jpg" alt="about us" style="width:400px;height:400px;">
<p>


<div>
This website is made by Kevin Kiele, Martin Kana & Vincent van Triest.
Our project was commissioned by Jelle van Assema, who gives the course Webprogrammeren IK.
The goal of this project is to have players who can enjoy the game and learn something at the same time.

Contact: ---
</div>

</p>
<div>
    </br>
{% if session.user_id %}
        <a href="lobbyselection" class="btn btn-primary" role="button">PLAY NOW</a>
        <a href="information" class="btn btn-primary" role="button">RULES</a>
{% endif %}
{% if not session.user_id %}
        <a href="information" class="btn btn-primary" role="button">RULES</a>
        <a href="register" class="btn btn-primary" role="button">REGISTER</a>
        <a href="login" class="btn btn-primary" role="button">LOGIN</a>
{% endif %}
</div>
{% endblock %}