{% extends "layout.html" %}

{% block title %}
    Endscreen
{% endblock %}

{% block main %}
        <fieldset>
            <h1>End Screen</h1>
            </br>
            <p>
                Please select the location for your next treasurehunting adventure!
            </p>
            </br>
            <div class="form-group">
                <a href="lobby1" class="btn btn-info" role="button">The White House</a>
            </div>
            <div class="form-group">
                <a href="lobby2" class="btn btn-info" role="button">Fenway Park</a>
            </div>
            <div class="form-group">
                <a href="lobby3" class="btn btn-info" role="button">Museum of Natural History</a>
            </div>
             <div class="form-group">
                <a href="homepage" class="btn btn-info" role="button">Exit Mission Selection</a>
            </div>
        </fieldset>
    </form>
{% endblock %}