{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
<h1>Goodluck on your politics Quize!</h1>
<h1>Vragen moeten één voor één FML</h1>
<form action='/answer' method='POST'>
    <ol>
        {% for i in q %}
            <li><u>{{i}}</u></li>
            {% for j in o[i] %}
                <input type='checkbox' value='{{j}}' name='{{i}}' />{{j}}
                <br></br>
            {% endfor %}
        {% endfor %}
    </ol>
    <div class="form-group">
        <a href="endscreen" class="btn btn-primary" role="button">Submit</a>
    </div>
</form>
{% endblock %}