{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="{{ url_for('homepage') }}" method="post">
        <fieldset>
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo ornare, egestas turpis in, placerat velit. Aliquam tellus tellus, scelerisque ac quam ut, viverra fermentum elit. Vestibulum eu tellus est. Vivamus varius fringilla condimentum. Aliquam ac neque a nibh ullamcorper facilisis. Nullam quis sagittis nulla. Morbi tempor vitae risus ac luctus. Pellentesque tristique mi ac diam lobortis bibendum. Sed a scelerisque mauris. Quisque nec turpis et felis dignissim pellentesque placerat in est.</h1>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Play The Game</button>
            </div>
        </fieldset>
    </form>
{% endblock %}