{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="{{ url_for('homepage') }}" method="post">
        <fieldset>
            <h1>Welcome back, Smelly McSmellyNut.
            </br> Ready for a new mission?</h1>
            </br>
            </br>
            <div class="form-group">
                <a href="lobbyselection" class="btn btn-info" role="button">Select a location</a>
            </div>
        </fieldset>
    </form>
{% endblock %}