{% extends "layout.html" %}

{% block title %}
    Game Information
{% endblock %}

{% block main %}

<h1 style="color: #009999;">
    Rules
    </h1>
<br>

<p style=" color: #009999">


<div>
Welcome to Locked Up!
</br>
</br>
Locked up is a trivia game. Discover the board to find the treasure before your oponent does!
</div>


{% if session.user_id %}
        <a href="game" class="btn btn-info" role="button">PLAY NOW</a>
        <a href="aboutus" class="btn btn-info" role="button">ABOUT US</a>
{% endif %}
{% if not session.user_id %}
        <a href="login" class="btn btn-info" role="button">LOGIN</a>
        <a href="register" class="btn btn-info" role="button">REGISTER</a>
        <a href="aboutus" class="btn btn-info" role="button">ABOUT US</a>
{% endif %}
</div>
{% endblock %}