{% extends "layout.html" %}

{% block title %}
    Game Information
{% endblock %}

{% block main %}

<h1>
    Rules
    </h1>
<br>

<p>


<div>
Welcome to Locked Up!
<p>Locked Up is a Trivia Quiz game. The rules are simple:</p>
</div>
<div>
    <br>
        <p>- Choose between a Single Player game, or a Multiplayer game.</p>
    </br><br>
        <p>- Three gamemodes, three categories. Pick the category you feel most at ease with, or try another one for a bigger challenge!</p>
    </br><br>
        <p>- Every question is multiple choice, with only one correct answer.</p>
    </br><br>
        <p>- Every CORRECT answer rewards you, Treasure Hunter, with 1 point. After a game the score will show up and in multiplayer the score will be compared to your opponents score. The player with the highest score wins the treasure!</p>
    </b><br>
        <p>- Your score will add up after every game and is shown on your profile, the more games you play, the higher you'll be on the Treasure Hunter leaderboard! Show 'em who's boss!</p>
    </br>
</div>

{% if session.user_id %}
        <a href="homepage" class="btn btn-primary" role="button">PLAY NOW</a>
        <a href="aboutus" class="btn btn-primary" role="button">ABOUT US</a>
{% endif %}
{% if not session.user_id %}
        <a href="login" class="btn btn-primary" role="button">LOGIN</a>
        <a href="register" class="btn btn-primary" role="button">REGISTER</a>
        <a href="aboutus" class="btn btn-primary" role="button">ABOUT US</a>
{% endif %}
</div>
{% endblock %}