{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="{{ url_for('lobbyselection') }}" method="post">
        <fieldset>
            <h1>Welcome to The White House.</h1>
            </br>
            <p>
                The White House was the official residence and workplace of the President of the United States.
                It is located in Washington, D.C., and has been the residence of every U.S. president since John Adams in 1800.
                </br>
                This location is for Treasure Hunters specialised in Politics.
            </p>
            </br>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Ready!</button>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Exit Lobby</button>
            </div>
        </fieldset>
    </form>
{% endblock %}