{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <fieldset>
            <h1>Welcome to Fenway Park!</h1>
            </br>
            <img src="https://i.imgur.com/LFNCe8x.jpg" alt="Fenway Park" style="width:400px;height:400px;">
            </br>
            </br>
            <p>
                Fenway Park is a baseball park located in Boston, Massachusetts at 4 Yawkey Way near Kenmore Square.
                </br>
                From 1912 untill the war, it was the home for the Boston Red Sox, the city's American League baseball team. It's the oldest ballpark in MLB.
                </br>
                </br>
                This location is for Treasure Hunters specialised in Sports.
            </p>
            </br>
                       </br>

            <div class="form-group">
                <a href="game" class="btn btn-info" role="button">Ready!</a>
            </div>

            <div class="form-group">
                <a href="lobbyselection" class="btn btn-info" role="button">Exit Lobby</a>
            </div>
        </fieldset>
    </form>
{% endblock %}