{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <fieldset>
            <h1>Welcome to the American Museum of Natural History</h1>
            </br>
            <img src="//imgur.com/8SOak" alt="American Museum of Natural History">
            </br>
            The American Museum of Natural History, located on the Upper West Side of Manhattan, New York City. It's one of the largest museums in the world.
            </br>
            Located in Theodore Roosevelt Park across the street from Central Park, the museum complex comprises 28 interconnected buildings housing 45 permanent exhibition halls, in addition to a planetarium and a library.
            The museum collections used to contain over 33 million specimens[5] of plants, animals, fossils, minerals, rocks, meteorites, human remains, and human cultural artifacts, of which only a small fraction can be displayed at any given time.
            </br>
            </br>
            This location is for Treasure Hunters specialised in History.
            </br>
           </br>

            <div class="form-group">
                <a href="game" class="btn btn-info" role="button">Ready!</a>
            </div>

            <div class="form-group">
                <a href="lobbyselection" class="btn btn-info" role="button">Exit Lobby</a>
            </div>
        </fieldset>
    </form>
{% endblock %}