{% extends "layout.html" %}

{% block title %}
    Lobby1
{% endblock %}

{% block main %}
        <fieldset>
            <h1>Welcome to The White House.</h1>
            </br>
            <img src="https://i.imgur.com/ZwVGShx.jpg" alt="The White House" style="width:400px;height:400px;">
            </br>
            </br>
            <p>
                The White House was the official residence and workplace of the President of the United States.
                </br>
                It is located in Washington, D.C., and has been the residence of every U.S. president since John Adams in 1800.
                </br>
                </br>
                This lobby is for Treasure Hunters specialised in General Knowledge.
            </p>
            </br>

            <div class="form-group">
                <a href="ready" class="btn btn-primary" role="button">Ready</a>
            </div>
            <div class="form-group">
                <a href="removefromdatabase" class="btn btn-primary" role="button">Exit</a>
            </div>
        </fieldset>
    </form>
{% endblock %}