{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}

<h1 style="color: #009999;">
    Your Profile
    </h1>
<br>

<p style=" color: #009999">


<div>
We would like to welcome you to Trivia Board Game
</div>

<div>
</br>
And then ofcourse there's you...
</div>

<div>
</br>
You were living under a rock for the last few years without having the slightest clue about what was going on in the world.
Convinced that you were the last survivor, doomed to wander the earth alone, you suddenly stumbled upon a group of Treasure Hunters.
Peeping from the bushes, you overheard their conversation.
</div>

<div>
</br>
"Hey Kev, what's that vile stench? Did you let one slip, you filthy fuck?"
<br />"Nah bruh, must be your upper lip."
<div/>

<br />The hunters started following their noses, leading them straight to you. (Which wasn't that hard.)

<br />"Goddamn dude, you smell horrible! What happened to you?"

<br />You started mumbling something about being the last survivor, your belly and a shower.
<br />One of the Hunters started speaking such intellectual words that you feinted.
<div>
<br />Suddenly you woke up in front of some sort of futuristic looking clone of Albert Einstein.

<br />"It's time to make a decision, Soldier, which coallition will it be?"
</div>
    </p>
</div>
{% endblock %}