{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}

<h1>
    Your Profile
    </h1>
<br>
<p>
            <img src="http://www.peterveltman.nl/images/foto's%20van%20foto's/G%207%20zwerver%20amsterdam-noord.jpg" alt="You" style="width:245px;height:383px;">
            </br>
            </br>
            <p>
                <h1>Name: Treasure Hunter D'oh...</h1>
                </br>
                <h1>Age: You can't really remember.</h1>
                </br>
                <h1>Occupation: Definitely not a model.</h1>
                </br>
                <h1>Interests: Making tiny mud balls between your index finger and your thumb whilst having a smoke.</h1>
                </br>
                <h1>Future plans: *Cough* Being the smartest there ever was. *Cough* (Start working on it dude!)</h1>
                </br>
            </p>
            </br>
        </fieldset>
        <div class="form-group">
            <a href="homepage" class="btn btn-primary" role="button">Return</a>
        </div>
</form>
{% endblock %}
{% endblock %}