{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h1 style="color: #f2f2f2;">
    Locked Up
    </h1>
<br>
<h2 style=" color: #f2f2f2">
Welcome to the year 2047.
<br>
The once great race of humanity has diminished to but a select group of survivors left over from the Neverending War.
The survivors were divided in coallitions with the main aim to retrieve and secure the abandoned war treasures around the world in order to establish themselves as the ruling coallition.
Because weapons and war destroyed the face of the earth, the coallitions agreed upon never using weapons again, but instead turn to intellect to fight out their differences.
<br>
And then ofcourse there's you...
<br>
You were living under a rock for the last few years without having the slightest clue about what was going on in the world.
Convinced that you were the last survivor, doomed to wander the earth alone, you suddenly stumbled upon a group of Treasure Hunters.
Peeping from the bushes, you overheard their conversation.
<br>
"Hey Kev, what's that vile stench? Did you let one slip, you filthy fuck?"
"Nah bruh, must be your upper lip."
<br>
The hunters started following their noses, leading them straight to you. (Which wasn't that hard.)
<br>
"Goddamn dude, you smell horrible! What happened to you?"
<br>
You started mumbling something about being the last survivor, your belly and a shower.
One of the Hunters started speaking such intellectual words that you feinted.
<br>
Suddenly you woke up in front of some sort of futuristic looking clone of Albert Einstein.
<br>
"It's time to make a decision, Soldier, which coallition will it be?"
    </h3>

{% endblock %}