{% extends "layout.html" %}

{% block title %}
    Ready
{% endblock %}

{% block main %}
<form action='/ready' method='POST'>
        <fieldset>
            <h1>Congratulations, YOU ARE READY</h1>
            <h2>Waiting for other players...</h2>
        </fieldset>
        <div class="form-group">
            <a href="check" class="btn btn-info" role="button">Start Game</a><p>All players need to be ready to start the game</p>
        </div>
        <div class="form-group">
            <a href="returnlobby" class="btn btn-info" role="button">Not Ready</a><p>Back to Lobby</p>
        </div>
</form>
{% endblock %}